<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/share_price_css.css') }}">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<body ng-app="">

<div class="topbar">

    <div class="inline-div"><h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Results</h1></div>

</div>

<img src="{{url_for('static', filename=imgnm)}}" />


<!--<script>
function myFunction() {
    var x = document.getElementById("gsc-i-id1").value;
    document.getElementById("demo").innerHTML = x;

    }
    </script>
--->


</body>


</html>
